{% extends "base.html" %}
{% block events_hourly %}
<button class="button" onclick="window.location.href = '{{ url_for('index') }}';">Go Back</button>
<center><h1>{{title}} </h1>
  <p>Allowance: {{count}} hits</p>
  <!-- <p>Start: {{fromtime}}</p>
  <p>Now :{{now}}</p> -->
  {% if count == 0 %}
      <p>{{message}}</p>
  {% endif %}
</center>
<center>
  <input type="text" id="search" placeholder = "Any character on the table">
    <table id="table">
      <tr class="header">
        <th>Date</th>
        <th>Hour</th>
        <th>Events</th>
      </tr>
      {% for item in data%}
      <tr class="search">
        <td>{{ item["date"] }}</td>
        <td>{{ item["hour"] }}</td>
        <td>{{ item["events"] }}</td>
      </tr>
      {% endfor %}
    </table>
 
  
</center>
<center>
  <canvas id="myChart"></canvas>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: [
          {% for item in data %}
              "{{ item["date"] }}",
            {% endfor %}
        ],
    datasets: [{
      label: 'hour',
      backgroundColor: 'rgba(255, 255, 255,0)',
      borderColor: 'rgb(255, 99, 132)',
      data: [
        {% for item in data %}
                "{{ item["hour"] }}",
    {% endfor %}
    ]
        },
    {
      label: 'event number',
        backgroundColor: 'rgba(255, 255, 255,0)',
          borderColor: 'rgb(0, 102, 255)',
            data: [
              {% for item in data %}
    "{{ item["events"] }}",
      {% endfor %}
            ]
        }
      ]
    },

    // Configuration options go here
    options: { }
});
  </script>
</center>

{% endblock %}