
{% extends "base.html" %}
{% block index %}
    <center><h1>{{title}} </h1>
        <h1>Allowance: {{count}} hits</h1>
        <h1>Start: {{fromtime}}</h1>
        <h1>Now :{{now}}</h1>
        {% if count == 0 %}
            <h1>{{message}}</h1>
        {% endif %}
        
        <button class = "button" onclick="window.location.href = '{{ url_for('events_hourly') }}'">events hourly</button>
        <button class = "button" onclick="window.location.href = '{{ url_for('events_daily') }}'">events daily </button>
        <button class = "button" onclick="window.location.href = '{{ url_for('stats_hourly') }}'">stats hourly</button>
        <button class = "button" onclick="window.location.href = '{{ url_for('stats_daily') }}'">stats daily</button>
        <button class = "button"onclick="window.location.href = '{{ url_for('poi') }}'">poi</button>
    </center>
{% endblock %}