{% extends "base.html" %}
{% block stats_hourly %}
<button class="button" onclick="window.location.href = '{{ url_for('index') }}';">Go Back</button>
<center class="flex-box">
  <!-- highlight the searched text makes more sense than hights on whole row. -->
  <input type="text" id="search" placeholder = "Any character on the table">
    <table id="table">
    <tr class="header">
      <th>Date</th>
      <th>Hour</th>
      <th>Clicks</th>
      <th>Impressions</th>
      <th>Revenue</th>
    </tr>
    {% for item in s_h%}
    <tr class="search">
      <td>{{ item["date"] }}</td>
      <td>{{ item["hour"] }}</td>
      <td>{{ item["clicks"] }}</td>
      <td>{{ item["impressions"] }}</td>
      <td>{{ item["revenue"] }}</td>
    </tr>
    {% endfor %}
  </table>

  
</center>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="myChart"></canvas>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [
            {% for item in s_h %}
              "{{ item["date"] }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'hour',
            backgroundColor: 'rgba(255, 255, 255,0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [
              {% for item in s_h %}
                "{{ item["hour"] }}",
              {% endfor %}
            ]
        },
        {
            label: 'clicks',
            backgroundColor: 'rgba(255, 255, 255,0)',
            borderColor: 'rgb(179, 179, 0)',
            data: [
              {% for item in s_h %}
                "{{ item["clicks"] }}",
              {% endfor %}
            ]
        },
        {
            label: 'impressions',
            backgroundColor: 'rgba(255, 255, 255,0)',
            borderColor: 'rgb(0, 153, 204)',
            data: [
              {% for item in s_h %}
                "{{ item["impressions"] }}",
              {% endfor %}
            ]
        },
        {
            label: 'revenue',
            backgroundColor: 'rgba(255, 255, 255,0)',
            borderColor: 'rgb(77, 255, 77)',
            data: [
              {% for item in s_h %}
                "{{ item["revenue"] }}",
              {% endfor %}
            ]
        }


      ]
    },

    // Configuration options go here
    options: {}
});
    </script>
  </center>
{% endblock %}